<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Package</th>
        <th>Arch</th>
        <th>Version</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for update in updates %}
      <tr>
        <td>{{ update.package }}</td>
        <td>{{ update.arch }}</td>
        <td>{{ update.version }}</td>
        <td>{{ update.timestamp|date:"Y-m-d" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
