{% extends "base.html" %}
{% load static %}

{% block title %}NES Emulator{% endblock %}

{% block content %}
<h1>NES Emulator</h1>

<p>A work-in-progress NES emulator targetting Linux with Wayland.</p>

<p>Currently, the initial implementation emulates anything
that doesn't require mapping hardware. Sound is next on the TODO list.</p>

<p>Check it out on <a href="https://github.com/eyolfson/nes-emulator/">GitHub</a></p>

<img src="https://eyl.io/nes-emulator/screenshot/super-mario-bros.png" class="img-responsive" alt="Super Mario Bros." style="width:256px;height:240px">

{% endblock %}
