{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block nav-about %} class="active"{% endblock %}

{% block content %}
<h1>About</h1>

<ul class="list-group">
  <li class="list-group-item"><strong>Distribution:</strong> Arch Linux</li>
</ul>

<h2>Software</h2>

<ul class="list-group">
  <li class="list-group-item">firefox (pentadactyl)</li>
  <li class="list-group-item">emacs</li>
  <li class="list-group-item">i3</li>
  <li class="list-group-item">terminator</li>
  <li class="list-group-item">tmux</li>
</ul>
{% endblock %}
