{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "images/favicon.png" %}" rel="icon" type="image/png" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">eyl.io</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li{% block nav-aur %}{% endblock %}><a href="{% url 'aur:home' %}">AUR</a></li>
            <li{% block nav-about %}{% endblock %}><a href="{% url 'about' %}">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
            <li><a href="{% url 'ssh:index' %}">SSH</a></li>
            <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
{% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
{% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>
