{% extends "base.html" %}
{% load staticfiles %}

{% block title %}eyl.io{% endblock %}

{% block content %}
<p class="text-center">
  <a href="https://github.com/eyolfson/"><i class="fa fa-github fa-4x"></i></a>
  <a href="https://twitter.com/eyolfson/"><i class="fa fa-twitter fa-4x"></i></a>
</p>

<p>A collection of random code and musings.</p>
{% if blog_post %}
<h1>Latest Blog Post</h1>

<p>
  <strong>{{ blog_post.date|date:"Y-m-d" }}</strong> <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
</p>
{% endif %}

{% if aur_updates %}
<h1>Latest AUR Updates</h1>

{% include "aur/updates_table.html" with updates=aur_updates %}
{% endif %}
{% endblock %}
