{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<p>A collection of random code and musings.</p>

{% if aur_updates %}
<h1>Latest AUR Updates</h1>

{% include "aur/updates_table.html" with updates=aur_updates %}
{% endif %}

<p class="text-center">
  <img src="{% static "images/github.png" %}" alt="GitHub" /> <a href="https://github.com/eyolfson/">eyolfson</a>
  <img src="{% static "images/twitter.png" %}" alt="Twitter" /> <a href="https://twitter.com/eyolfson/">eyolfson</a>
</p>
{% endblock %}
