{% extends "base.html" %}

{% block title %}Research{% endblock %}

{% block nav-research %} class="active"{% endblock %}

{% block content %}
<h1>Research</h1>

<p>Contact: <tt>jeyolfso@uwaterloo.ca</tt></p>

<ul class="list-unstyled">
  <li>Jon Eyolfson, Patrick Lam</li>
  <li><a href="https://eyl.io/research/2016/ecoop/paper.pdf">C++ const and Immutability: An Empirical Study of Writes-Through-const</a></li>
  <li>2016, ECOOP</li>
</ul>

<ul class="list-unstyled">
  <li>Jon Eyolfson, Lin Tan, Patrick Lam</li>
  <li><a href="https://eyl.io/research/2014/emse/paper.pdf">Correlations between Bugginess and Time-Based Commit Characteristics</a></li>
  <li>2014, Empirical Software Engineering</li>
</ul>

<ul class="list-unstyled">
  <li>Jon Eyolfson, Patrick Lam</li>
  <li><a href="https://eyl.io/research/2012/rv/paper.pdf">Detecting Unread Memory Using Dynamic Binary Translation</a></li>
  <li>2012, RV</li>
</ul>

<ul class="list-unstyled">
  <li>Jon Eyolfson, Lin Tan, Patrick Lam</li>
  <li><a href="https://eyl.io/research/2011/msr/paper.pdf">Do Time of Day and Developer Experience Affect Commit Bugginess?</a> [<a href="https://eyl.io/research/2011/msr/slides.pdf">Slides</a>]</li>
  <li>2011, MSR</li>
</ul>

<ul class="list-unstyled">
  <li>Jon Eyolfson</li>
  <li><a href="https://eyl.io/research/2011/masc/thesis.pdf">Tracerory - Dynamic Tracematches and Unread Memory Detection for C/C++</a></li>
  <li>2011, M.A.Sc. Thesis<li>
</ul>
{% endblock %}
